* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  font-weight: 300;
}

.container {
  align-self: center;
  display: grid;
  width: 30%;
  height: auto;
  position: relative;
  left: 35%;
  right: 35%;
  margin-top: 1%;
}

.calc-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  text-align: right;
  padding-right: 14px;
  width: 100%;
}

.screen {
  grid-column: 1 /2;
  background-color: #858693;
  margin-bottom: -12px;
  padding: 10px 1px 10px 0;
  width: 94.8%;
  margin-left: 2.56%;
  margin-right: -4.56%;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.6px;
  grid-column-gap: 0.6px;
  padding: 12px;
  width: 100%;
}

.buttons > button {
  padding: 24px;
  background-color: #e0e0e0;
}

.buttons .active {
  background-color: #f5913e;
}

.zero {
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 768%) {
  .buttons {
    width: 100%;
  }
}
