* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  font-weight: 300;
}

.container {
  align-self: center;
  display: flex;
  width: 100%;
  height: auto;
  gap: 4px;
  position: relative;
  margin-top: 1%;
}

.calc-title {
  color: #f5913e;
  align-self: flex-start;
  float: left;
  margin-right: 10%;
  border: #000 2px solid;
  text-align: left;
  padding: 6px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.calc-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  text-align: right;
  padding-right: 14px;
  width: 30%;
  float: right;
}

.screen {
  grid-column: 1 /2;
  background-color: #858693;
  margin-bottom: -12px;
  padding: 10px 1px 10px 0;
  width: 94.8%;
  margin-left: 2.56%;
  margin-right: -4.56%;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.6px;
  grid-column-gap: 0.6px;
  padding: 12px;
  width: 100%;
}

.buttons > button {
  padding: 24px;
  background-color: #e0e0e0;
}

.buttons .active {
  background-color: #f5913e;
}

.zero {
  grid-column: 1 / span 2;
}

.navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  gap: 30px;
  border: 1px solid #858693;
  padding: 20px;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.navHead {
  margin-left: 20px;
}

.navMenu a {
  color: #0c5595;
  border-right: 2px solid #000;
  padding: 8px;
}

.navMenu li {
  list-style: none;
}

.navMenu:nth-child(3n) {
  border-right: none;
}

/* Homepage start here */

.home-container {
  background-color: #858693;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  align-self: center;
  position: relative;
  right: 25%;
  left: 25%;
  gap: 20px;
}

.home-container p {
  padding: 20px;
}

/* quotation page starts here */

.quoteCont {
  color: #333;
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
  margin-top: 20%;
}

@media only screen and (max-width: 768px) {
  .buttons {
    width: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    position: relative;
    left: 4%;
    gap: 10px;
    align-self: center;
  }

  .calc-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    text-align: right;
    padding-right: 14px;
    width: 50%;
    float: right;
    align-self: center;
  }

  .calc-title {
    text-align: center;
    align-self: center;
  }
}
